.card {
  border: 1px solid rgba(100, 200, 200);
  padding: 40px;
  box-shadow: 5px 5px 5px 0.1px;
  max-width: 240px;
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.displayCount {
  text-align: center;
  font-size: 40px;
}
button {
  display: inline;
}

.btn {
  height: 35px;
  width: 60px;
  margin: 15px;
  background-color: rgb(78, 165, 246);
  color: white;
  font-weight: bolder;
  font-size: 17px;
  border:none;
  border-radius: 10px;
}

.block{
  display: flex;
  justify-content: center;
}